.map-wrapper {
	display: flex;
	justify-content: center;
}

.map {
	border: 1px solid;
}

.map-row {
	display: flex;
}

.map-tile {
	border: 0.2px solid;
	width: 4em;
	height: 4em;
}

.map-tile-count {
	margin-left: 0.3em;
	position: absolute;
	color: red;
	font-weight: bold;
}

.map-brick {
	background-color: dimgray;
	border: 0.2px solid;
	width: 4em;
	height: 4em;
}